*{
    box-sizing: border-box;
}
html {
  font-size: 20px;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    
    
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 0;
    background-color: silver;
    border-radius: 1em;
    align-items: center;
    position: fixed;
    top: 0;
    width: 90%;
    z-index: 2;
    img {
      width: 2em;
      height: 2em;
      display: block;
    }
    a {
      color: black;
      text-decoration: none;
    }
}


.home {
    background-image: url('../img/sailing-1024320_1280_cut.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
    margin-top: 2em;
    border-radius: 1em;
    height: 17em;
    position: relative;
    z-index: 1;
    
    &:after {
        content: '';
        width: 100%;
        height: 100%;
        background-color: rgba(black, 0.4);
        border-radius: 1em;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
.hometitle1 {
  margin-right: 0em;
  transition: 1s;
  &--right {
    margin-right: -100em;
    
  }
}
.hometitle2 {
  margin-left: 0em;
  transition: 1s;
  transition-delay: 1s;
  &--left {
    margin-left: -100em;
    
  }
}
.hometitle3 {
  opacity: 1;
  transition: 1s;
  transition-delay: 2s;
  &--appear {
    opacity: 0;
    
  }
}
.motto {
  transform: rotateY(0deg);
  transition: 1s;
  transition-delay: 3s;
  &--appear {
    transform: rotateY(90deg);
       
  }
}



.subhome{
  width: 80%;  
  margin: 1em auto;
    /* height: 4em;*/
    text-align: center;
}
.dddd{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    padding: 3em 0 ;
    background-color: #1c503e;
    color: white;
    border-radius: 1em;
    @media (max-width: 890px) {
      flex-wrap: wrap;
    }
    &__part {
      display: flex;
      flex-direction: column;
      
      align-items: center;
      width: 23%;
      @media (max-width: 890px) {
        width: 47%;
      }
      @media (max-width: 500px) {
        width: 95%;
      }
      
      img{
        width: 6em;
        border-radius: 50%;
      } 
    }
    
}

.skills{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 0;
   width: 100%;
   h1 {
       color:#3d9970;
   }
   
    
}

dl {
    display: flex;
    background-color: white;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    position: relative;
    padding: 20px;
  }
  
  dt {
    align-self: flex-start;
    width: 100%;
    font-weight: 700;
    display: block;
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 130px;
  }
  
  .text {
    font-weight: 600;
    display: flex;
    align-items: center;
    height: 40px;
    width: 140px;
    background-color: white;
    position: absolute;
    left: 0;
    justify-content: flex-end;
    @media (max-width: 890px) {
      font-weight: 500;
      height: 30px;
    }
  }
  
  .percentage {
    font-size: .8em;
    line-height: 1;
    text-transform: uppercase;
    width: 100%;
    height: 40px;
    margin-left: 130px;
    @media (max-width: 890px) {
      height: 30px;;
    }
    
    &:after {
      content: "";
      display: block;
      background-color: #3d9970;
      width: 50px;
      margin-bottom: 10px;
      height: 90%;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      transition: background-color .3s ease;
      cursor: pointer;
    }
    &:hover,
    &:focus {
      &:after {
         background-color: #aaa; 
      }
    }
  }
  
  @for $i from 1 through 100 {
    .percentage-#{$i} {
      &:after {
        $value: ($i * 1%);
        width: $value;
        @media (max-width: 890px) {
          width: $value * 0.8;
        }
      }
    }
  }

  .portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #93a7ab;
    border-radius: 1em;
    .portfolio-header{
      color: rgb(47, 47, 47);
    } 
  }
  
  .portfolio-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 890px) {
      justify-content: center;
    }
    // border: 1px solid red;
    width: 100%;
    height: fit-content;
  }
  .portfolio-card {
    border: 1px solid black;
    background-color: white;
    border-radius: 0.25em;
    text-align: center;
    margin: 1em;
    width: 30%;
    @media (max-width: 1335px) {
      width:45%;
    }
    @media (max-width: 890px) {
      width:90%;
    }
    &__icon {
    width: 100%;
    }
    &__icon i {
      margin-top: 0.5em;
      padding: 1em;
      width: 90%;
      font-size: 48px;
      color: darkgray;
      background-color: lightgray;
      border: 1px solid black;
      border-radius: 0.25rem;
    }
    &__description {
      margin: 5%;
      width: 90%;
      min-height: 3em;
      height: fit-content;
      border: 1px solid black;
      border-radius: 0.25em;
      background-color: lightgray;
    }
  }

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 1em;
  &__header{
    color: rgb(47, 47, 47);
  }
}

.aboutbox{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  @media (max-width: 890px) {
    flex-direction: column;
    justify-content: center;
  }
  &__photo {
    width: 25%;
    height: 25%;
    border-radius: 50%;
    @media (max-width: 890px) {
     width: 60%;
     height: 60%;
    }
  }
  &__content {
    width: 60%;
    @media (max-width: 890px) {
      width: 80%;
    }  
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: rgb(97, 206, 97);
  border-radius: 1em;

  &__header{
    color:whitesmoke;
  }
  .contactblock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;

  }
  .contactsection {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: flex-start;
    // border: 1px solid blue;
  }
  .contactsection__box {
    // border: 1px solid red;
    width: 95%;
    margin-bottom: 1em;
    border-bottom: 2px solid green;
  }
  .input {
    border: none;
    background-color:  rgb(97, 206, 97);
    height: 2em;
    margin-left: 1em;
  }
  .messagelabel {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    textarea {
      width: 100%;
      height: 10em;
      margin-top: 0.5em;
      border-radius: 3px;
      border-style: none;
    }
  }
  .sendbutton {
    width: 60%;
    height: 1.5em;
    margin-top: 1em;
    border-radius: 3px;
    border: none;
    color: whitesmoke;
    background-color: rgb(61, 58, 58);
    font-size: 1.5em;
  }
  .findmehere {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10em;
    width: 100%;
    margin-top: 1em;
    background-color: rgb(90, 90, 90);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
  }
  .linebox {
    width: 60%;
    display: flex;
    align-items: center;
    &__line {
      flex-grow: 1;
      height: 0.3em;
      background-color: black;
    }
    &__text {
      margin-left: 1em;
      margin-right: 1em;
      color: white;
    }
  }
  .icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    &__icon {
      width: 60px;
      height: 60px;
    }
  }
}
